<div class="card rounded-0 d-none d-lg-block">
    <h5 class="card-header">Contact Details</h5>
    <div class="card-body">
        <p>
            Santa Claus Main Post Office
            <br>FI-96930 Arctic Circle
            <br>Lapland, Finland
            <br>
        </p>
        <p>
            <abbr title="Phone">P</abbr>: 8 (915) 387-08-27
        </p>
        <p>
            <abbr title="Email">E</abbr>:
            <a href="mailto:mister.savateev@gmail.com">
                mister.savateev@gmail
            </a>
        </p>
        <p>
            <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
        </p>
        <iframe width="100%" height="200px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1550669.740668759!2d25.729533542075!3d66.28943175295784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x442b4e7fc37edcad%3A0xd701fa06de6e68e1!2zSm91bHVwdWtpbiBww6TDpHBvc3Rp!5e0!3m2!1sfi!2sfi!4v1508330455382"></iframe>
    </div>
</div>
